@charset "utf-8";

/* Date picker */
div#widgetCalendar { position: absolute; border: 1px solid #bbb; display: none; z-index: 1000; }

div#widgetCalendar, div.datepicker, div.datepicker > div { background-image: none; background: #f5f5f5; }

div.datepicker .datepickerDays a { color: #555; }
div.datepicker .datepickerDays td:hover { background: #ddd; }

div.datepicker .datepickerSelected span { color: #fff; }
div.datepicker .datepickerSelected:hover span { color: #0af; }
div.datepicker .datepickerViewDays thead > tr th:hover span { color: #0af; }

div.datepicker .datepickerMonths td span, .datepickerYears td span { color: #aaa; }
div.datepicker .datepickerMonths td:hover span, .datepickerYears td:hover span { color: #555; }

div.datepicker .datepickerWeek span { color: #059; }
div.datepicker .datepickerWeek span:hover { color: #0af; }
div.datepicker .datepickerMonth a span, .datepickerGoNext span, .datepickerGoPrev span { color: #0480be; }

div.datepicker .datepickerNotInMonth,
div.datepicker .datepickerNotInMonth:hover,
div.datepicker .datepickerNotInMonth.datepickerSelected,
div.datepicker .datepickerNotInMonth.datepickerSelected:hover { background: #f5f5f5 !important; }

div.datepicker .datepickerNotInMonth a { display: none;  }

/* add money */
div#addMoney { min-height: 0px; padding: 0 18px 0 18px !important; background: #ddd; }
div#addMoney form { padding: 5px; margin: 0; }
div#addMoney form input[type="submit"] { margin: 0 0 0 20px; }
div#addMoney form input[type="text"],
div#addMoney form select { margin: 0px 0 0 0; }

/* profile */
form#changePassword { padding: 15px; }

/* show money */
div#showMoney div.money.less { background: #f2dede; }
div#showMoney div.money.more { background: #dff0d8; }

div#showMoney div.money h4 { float: left; font-size: 16px; }
div#showMoney div.money div.date { float: right; }
div#showMoney div.money div.category { color: #888; }
div#showMoney div.money div.delete { float: right; }
div#showMoney div.money div.delete a,
div#showMoney div.money div.delete a:visited,
div#showMoney div.money div.delete a:active { color: #888; }
div#showMoney div.money div.value { margin: -20px 0 0 0; text-align: center; font-size: 18px; font-weight: bold; }
div#showMoney div.money div.value.less { color: #855; }
div#showMoney div.money div.value.more { color: #585; }

/* Side money summary */
div#side_summary {  }
div#side_summary div#side_summary_overall { text-align: center; font-size: 22px; }
div#side_summary div#side_summary_both { text-align: center; font-size: 12px; }

/* Category list */
div#categoriesList table .action { width: 180px; }